.poke-btn{
    background-color: #FF0000;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.poke-btn-deactive{
    background-color: grey;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.translucid{
    opacity: 0.5;
    border-radius: 100%;
    background-color: white;
}
.poke-btn:active{
    background-color: #8B1600;
}
.poke-btn:disabled{
    background-color: grey;
}
.pointer:hover{
    cursor:pointer;
}
.poke-btn:hover{
    color:white;
}
.f-screen{
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}
.favorito{
    border-radius: 100%;
}
.loader{
    z-index: 500;
}
.footer{
    background-color: whitesmoke;
    box-shadow: 0px -5px 5px -5px grey;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    margin-bottom: 0px;
}
.overflowed{
    overflow: auto;
}
main{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
}